{% comment %} <form method="post" action="">
  {% csrf_token %} {{ form.as_p}} {% endcomment %}
  {% comment %} <h2 style="text-align:center">About</h2>
  <br\>
  
  <em style="color:blue;font-size:35px;"> Welcome to Stuff Yo Face website! Glad to share delicious recipes you can make at home.</em>
  <em style="color:blue;font-size:35px;">On a mission to help you make great meals and enjoy cooking. Discover new recipes and explore different flavors.</em> {% endcomment %}
  
{% comment %} </form> {% endcomment %}

{% comment %} <div class="p-3 mb-2 bg-dark text-white" style="max-width: 18rem;">
  <div class="card-header" style="text-align:center">About</div>
  <div class="card-body">
    <h5 class="card-title" style="text-align:center">Stuff Yo Face</h5>
    <p class="card-text" style="text-align:center">Welcome! Glad to share delicious recipes you can make at home. 
    On a mission to help you make great meals and enjoy cooking. Discover new recipes and explore different flavors.</p>
  </div>
</div>  {% endcomment %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Card</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body> 
 
<div class="container">
  <h2>About</h2>
  <div class="card-columns">
    <div class="card bg-info">
      <div class="card-body text-center" style="text-align:center">
        <p class="card-text" style="text-align:center">Welcome! Glad to share delicious recipes you can make at home. On a mission to help you make 
        great meals and enjoy cooking. Discover new recipes and explore different flavors.</p>
      </div>
    </div>
  </div>
</div>

</body>
</html>


