{% extends "base.html" %}
{% load static %}

{% block content %}
{% comment %} {% include 'login.html' %} {% endcomment %}
{% include 'navigation.html' %}

<h1>Hey everyone!</h1>
<br>
{% comment %} {% load static %}
<div style="background-image: url({% static 'img1/Stuff YO Face.png' %}); object-fit: cover; width: 100%; background-repeat: no-repeat; height: 500px; background-size: cover;"/>


</div> {% endcomment %}

<br />
{% if user.is_authenticated %} Welcome {{user.username }}! 


<ul>
{% for message in messages %}
<li>
<strong><a href="/messages/{{message.id}}">{{message.title}}</a></strong> 
</li> 
{% endfor %}



{% comment %} 
{% comment %} ///////// show all search result  {% endcomment %}
{% comment %} {% for result in all_search_results %}
   {{ result.title}}
   {{result.description}}
{% empty %}
   No results ...
{% endfor %}  {% endcomment %}



{% comment %} 
<h3> Messages: {{messages}}</h3>  {% endcomment %}


<br>
{% for recipe in recipes %}

<h4>Recipe : Id:{{recipe.id}}</h4>

<ul>

    {% comment %} <li>Created by: <a href="/user/{{recipe.user.id}}/">{{recipe.user}}</a></li>
    title {% endcomment %}
    <img src="{{ recipe.image.url }}" />
    <strong><li>{{ recipe.title }}</li></strong>
    
    <strong><li>{{ recipe.author }}</li></strong>
    <strong><li>{{ recipe.items }}</li></strong>

    <strong><li>{{ recipe.description }}</li></strong>
    <strong><li>{{ recipe.timerequired }}</li></strong>
  </li>
</ul>
{% endfor %}  



{% endif %}
{% endblock content %} 


{% comment %} ////////// list of recipes 
{% comment %}

<h3> Messages: {{messages}}</h3>

<br>
{% for recipe in my_recipes %}

<h4>Recipe : Id:{{recipe.id}}</h4>

<ul>

    <li>Created by: <a href="/user/{{recipe.user.id}}/">{{recipe.user}}</a></li>
    title
    <strong><li>{{ recipe.title }}</li></strong>
    
    <strong><li>{{ recipe.author }}</li></strong>

    <strong><li>{{ recipe.description }}</li></strong>
    <strong><li>{{ recipe.timerequired }}</li></strong>
  </li>
</ul>
{% endfor %}  






{% comment %} ///////// {% endcomment %}

{% comment %} {% for recipe in following_recipe %}


<h4>Recipe : Id:{{recipe.id}}</h4>

<ul>

    <li>Created by: <a href="/user/{{recipe.user.id}}/">{{recipe.user}}</a></li>
    <strong><li>{{ recipe.text }}</li></strong>
    <strong><li>{{ recipe.created_at }}</li></strong>
  </li>
</ul>
{% endfor %} {% endcomment %}


