{% extends "base.html" %}
{% load static %}

{% block content %}
{% include 'navigation.html' %}

<body>
<style>
 body {
  background-image: linear-gradient(#F9A26C, #EFEEEE, #9BD7D1, #325D79);
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
}
</style>
<button>
    <a href="/newmessage/">
    Create UnWrap Message</a>
</button>
<h1>UnWraps</h1>

{% for note in notes %}
<h1>This message was sent by {{note.user.username}}</h1>
{{note.text.author.username}}
{{note.text.text}}
{{note.created_at}}

</body>
{% endfor  %}
{% endblock content %}
